@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background-color: var(--bg-dark, #282424); */
  color: var(--text-white, #ffffff);
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
  z-index: -50;
  background-color: #1a1a1a; /* same as bg-dark in tailwind.config */
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
  background-attachment: fixed;
  background-position: top left;
  min-height: 100vh;
}

h2 {
  /* font-family: var(--font-fira-code); */
  @apply text-2xl sm:text-2xl font-bold font-sans;
}

h1 {
  @apply text-white;
}

html {
  scroll-behavior: smooth;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

input,
textarea {
  @apply bg-dark border border-gray-400 text-white  focus:ring-accent focus:border-accent block w-full p-3;
}
